
body {
/*    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;*/
	font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
    font-size:14px;
	color:#606060;
    padding:0px;
	line-height: 1.2;
    margin: 0px;
}


p{
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

.slick-dots{

}

.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.demo-container {
    padding: 0 1em;
}

.top-title{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  background-color: #4A47EA;
  color: #ffffff;
  font-size: 20px;
  height:48px;
  vertical-align: middle;
  text-align: center;
}

.relative{
  position: relative;
}

.centrar{
  text-align: center;
  vertical-align: middle;
    align: middle;
}

.top-title-back{
  width: 100%;
  height:56px;
}

.top-container{
background-color: #ffffff;
padding:8px 22px;
}

/* Style the header */
.header {
background-color: #ffffff;
padding:10px;
text-align: center;
-webkit-transition: background 1s ease 0s;
transition: background 1s ease 0s;
}

/* Page content */
.content {
  padding: 10px;
}

.opciones{
  padding-right: 13px;
  padding-right: 13px;
}



.back_menu_inferior{height: 56px}

.mbsc-select-input{
    padding: 6px 6px 6px 40px;
    font-size: 14px;
    color: #606060;
    background-color: #F7F6F4;
    width: 75%;
    -webkit-writing-mode: 
    horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    height: 39px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 1px;
    margin-block: 2px;
    -webkit-box-sizing: border-box;
    z-index: 0;
    background-image: url('icons/transparent/search.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 10px;
    font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;    
}

.mbsc-control

.mbsc-sel-filter-input::-webkit-input-placeholder::before {
    content:"Escriba para filtrar";
}


.contentgrey{
background-color: #F7F6F4;    
padding-top: 10px;
padding-bottom: 10px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  width:100%;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  background-color: #ffffff;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.cont-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.nav-search-input{
    padding: 6px 6px 6px 40px;
    font-size: 12px;
    color: #606060;
    background-color: #F7F6F4;
    width: 75%;
    -webkit-writing-mode: 
    horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    height: 39px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 1px;
    margin-block: 2px;
    -webkit-box-sizing: border-box;
    z-index: 0;
    background-image: url('icons/transparent/search.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 10px;
    font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
}

.banner {
cursor: pointer;
margin-bottom: 10px;
margin-top: 20px;
max-width: 100%;
outline-color: rgb(0, 0, 238);
outline-style: none;
outline-width: 0px;
overflow-x: hidden;
overflow-y: hidden;
text-decoration-color: rgb(0, 0, 238);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
width: 100%;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
}

.encabezado{
padding: 23px;
padding-top: 0px;
}

.categorias {
background-color: rgb(255, 255, 255);
border-radius:10px;
border-collapse: collapse;
cursor: pointer;
font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
font-size: 18px;
font-weight: 500;
border-bottom: #bbbbbb solid 1px;
margin-bottom: 10px;
margin-top: 10px;
max-width: 100%;
margin-right: 10px;
outline-color: rgb(0, 0, 238);
outline-style: none;
outline-width: 0px;
overflow-x: hidden;
overflow-y: hidden;
text-decoration-color: rgb(0, 0, 238);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
width: 100%;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
}

.sinmargen{
margin-bottom: 10px;
}


.especialidades {
    font-size: 14px;
    color: #606060;
    font-weight: 500;
    border-bottom: #e8e8e8 solid 0.5px;
    width: 100%;
    padding:20px;
    margin-right: 12px;
}

.recomendaciones{
    margin-left: 10px;
    width: 90%;
    padding: 10px;
    min-height: 195px;
    margin-bottom:10px
}

.stars_recom{
    color: #efb810;
    font-size: 10px;
}

.nombre_recom{
     font-size: 14px;
     font-weight: 600
}

.especialidad_recom{
     font-size: 12px;
     font-weight: 400;
     vertical-align: top;
}

.comentario_recom{
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}

.cantidad_recom{
     font-size: 12px;
     font-weight: 400;
     text-align: right;
     vertical-align: top;
}

.cantidad_recom2{
     font-size: 12px;
     font-weight: 400;
     text-align: right;
     padding-left: 10px
}


.img_cat{
    padding-right: 20px
}


.box-shadow{
box-shadow: #9999995c -2px 2px 9px 3px;
}


.owl-item{
    margin-right: 0px;
}

.owl-dots2{
display: block;
}

.owl-nav2{
display: block;
}

.preguntas{
    display: none;
    padding-right: 20px;
    padding-left: 20px
}


.pregunta{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    border-bottom: #e8e8e8 solid 0.5px;
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 12px;
}

.respuesta{
    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    width: 100%;
    padding:20px;
    margin-top: 12px;
    margin-right: 12px;
}

.faq{
    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding:20px;
    margin-top: 12px;
    margin-right: 12px;
}

.section_title{
    font-size: 16px;
    color: #4a47ea;
    text-align: center;
    font-weight: 600;
    padding:0px;
    font-family: "Montserrat", -apple-system, "Questrial", Gibson, Poppins, Century gothic, sans-serif;
}

.especialidades_title{
    font-size: 16px;
    padding: 20px;
    border-bottom: #e8e8e8 solid 0.5px;
    color: #606060;
    text-align: left;
    font-weight: 600;
    line-height: 36px;
    margin-right: 12px;
    font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
}


.propuesta_bullets{
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    line-height: 36px;
    font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
}

ul.propuesta_bullets{
    padding-inline-start: 0px;
}


.resaltado{
    font-weight: 800;
    color: #4a47ea;    
}


.puntuacion_recom {
    font-size: 16px;
    padding: 20px;
    border-bottom: #e8e8e8 solid 0.5px;
    color: #606060;
    text-align: left;
    font-weight: 600;
    line-height: 36px;
    margin-right: 12px;
    font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
    padding-right:10px;margin-right: 5px;border-bottom:none
}

.image_banne_container{
border-radius:10px; 
padding-top:15px;
padding-bottom:15px;
width:100%;
margin-left: 0px;
}

.como_funciona_container{
border-radius:10px; 
padding-top:15px;
padding-bottom:15px;
width:100%;
margin-left: 0px;
}



.image_banner{
    border-radius:15px;
    margin:3px;
    width: 99%;
}

.image_banner2{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.circulo{
  background: #4A47EA;
  font-size: 24px;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em; 
}

.td{
    padding-left: 0px;
    padding-right: 0px;
}

.tr_menu_more{
    vertical-align:middle;
    height: 36px
}

.border-bottom{
    border-bottom: 1px solid #ccc;
}

.contenedor_credencial{
 width: 100%;
 margin: 1 auto;
 padding:1px;
}

.credencial{
    background-image: url(https://v.fastcdn.co/u/2d7105a6/55936151-0-MiCredencial.png);
    height: 580px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #ffffff
}

.rotar{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 210px;
    width: 550px;
}


.fa, .fas, .far{
padding: 7px;
font-size: 22px;
}

.fa-star, .fa-star-half-alt{
 font-size: 12px;
 padding: 1px;
}

.fa-thumbs-up{
    font-size: 20px;
    color: green;
}

.fa-thumbs-down{
    font-size: 20px;
    color: red;
}

.util{
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
} 


.paddingsimple{
    padding-top: 1px;padding-bottom: 1px;padding-left:0px;text-align: center;
}


.menu_inferior{
font-size: 12px;
position:fixed;
width:100%;
height:56px;
left:0px;
bottom: 0px;
background-color:#ffffff;
border-radius:0px;
box-shadow: 0px 0px 10px #999;
z-index:2;
text-decoration:none;
align-content: center;
}

.opcion_menu{
width: 20%;
text-align: center;
}

.menu_more{
display: none;
position: fixed; 
left: 0px; 
bottom: 0px;
height: 100%;
width: 100%; 
background-color: rgb(255, 255, 255); 

text-align: left;
}

a {text-decoration-line:none;color: #606060}

.menu_activo{
color: #4A47EA
}

.search-button{
    padding-bottom: 14px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #4A47EA;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700
}


h1,h2,h3,h4,h5,h6 {
    color:#4A47EA;
    display:block;
    line-height: 1.1; 
    margin-block-start: 0.40em;
    margin-block-end: 0.40em;
    font-family: Montserrat;
}  

h2 {font-size:54px;font-weight: 600;color: #4A47EA}

h1{font-size:36px;font-weight: 300;color: #606060;margin-block-start: 20px;font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;
}

h3{font-size:32px;font-weight: 300;color:#606060;margin-block-end: 8px;font-family: "Questrial", -apple-system, "Work Sans", Poppins, Poppins light, Century Gothic, sans-serif;}

h4{font-size:24px;font-weight:500;color:#606060;}

h5{font-size:20px;font-weight:400;color:#606060;}

h6{font-size:18px;font-weight:300;color:#606060; margin-block-start: 1em;margin-block-end: 1em;}


.bajada
{
    display:block;font-weight:600;font-size:18px;font-weight:300;color:#757575; margin-block-start: 1em;margin-block-end: 1em;
}


p    {}

div {
}

input{
	background-color:#F7F6F4;
	border-width:0px;

	height: 1.6em;
	margin: 8px;
}




.message {
	font-size: 18px;
	color: #1a73e8;
	font-weight: 500;
	border-radius: 8px;
	border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: fixed;
    left: 28;
    top: 212px;
    width: 240px;
    height: 160px;
    background-color: #ffffff;
    padding: 20;
    text-align: left;
    display: none
}

.div2{width: 50%;padding-bottom:20;}

.menucontainer{
    border-bottom: .0625rem solid #757575;
}


.menu {
	font-size: 16px;
    display: inline-block;
    line-height: 2.75rem;
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
    box-sizing: border-box;
    margin: 0 3%;
    cursor:pointer;

}

.active_ {
    color: #4285f4;
    border-bottom: .1875rem solid #4285f4;
}

.button{
background-color:rgb(255, 255, 255);
border-radius:4px;
border-image-outset:0;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-color:rgb(218, 220, 224);
border-width:1px;
border-style:solid;
color:rgb(60, 64, 67);
cursor:pointer;
direction:ltr;
display:inline-block;
font-family:"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
font-size:14px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:500;
height:16px;
letter-spacing:0.15px;
line-height:16px;
margin:8px;
margin-left: 0px;
outline-color:rgb(60, 64, 67);
outline-style:none;
outline-width:0px;
padding-bottom:10px;
padding-left:24px;
padding-right:24px;
padding-top:10px;
text-align:center;
text-decoration-color:rgb(60, 64, 67);
text-decoration-line:none;
text-decoration-style:solid;
user-select:text;
white-space:normal;
}


.tabla_larga{
    padding-left: 20;
    width: 400px
}

.Inactivo{
color: red
}


.Activo{
color: green
}

.button:hover {
	    background-color:#f7f8f8;
	}

.roundbutton{
	border-radius: 32px;
    padding: 10px;
    font-size: 24px;
    height: 20px;
    width: 20px;
}

.bluebutton{
background-color:#1a73e8;
border-width:1px;
color:#ffffff;
border-color:#1a73e8;
}

.bluebutton:hover {
	    background-color:#174ea6;
	}	

.whitebutton{
background-color:#ffffff;
border-width:1px;
color:#1a73e8;
border-color:#1a73e8;
}


.fa-arrow-left{
color: #ffffff
}


@media (max-width:480px){

.div2{width: 100%;}

h2{font-size:24px;line-height: 1.3;}

h1{font-size:14px;}

h3{font-size:13px;}

h4{font-size:20px;}

h5{font-size:18px;}

h6{font-size:16px;}

.menu {
	font-size: 14px;

}

.bajada
{
    font-size:16px;
}

.tabla_larga{
    padding-left: 0;
    width: 100%
}
}

@media (max-width:360px){
    .menu_inferior{
font-size: 11px;
    }
h2{font-size:22px;}
}

@media (max-width:340px){

.div2{width: 100%;}

h2{font-size:18px;}

h1{font-size:13px;}

h3{font-size:13px;}

h4{font-size:18px;}

h5{font-size:16px;}

h6{font-size:14px;}

.menu {
    font-size: 13px;
}

.bajada
{
    font-size:15px;
}

.tabla_larga{
    padding-left: 0;
    width: 100%
}

.section_title{
    font-size: 15px;
}

.nav-search-input {
    font-size: 12px;
}

.especialidades {
    font-size: 16px;
    }
}

@media (max-width:337px){
    .menu_inferior{
font-size: 10px;
    }
}


@media (max-width:308px){
    .menu_inferior{
font-size: 9px;
    }
}

@media (max-width:286px){
    .menu_inferior{
font-size: 8px;
    }
}