* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #1abff4;
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
